@font-face {
  font-family: fontMrRobot;
  src: url('../fonts/MR_ROBOT.ttf') format('truetype'),
        url('../fonts/MR_ROBOT.woff') format('woff');
}

/* Licence is available at https://maltemo.github.io/assets/fonts/UBUNTU_FONT_LICENCE.txt */
@font-face{
	font-family : ubuntuMono;
    src: url('../fonts/UbuntuMono-R.ttf') format('truetype'),
        url('../fonts/UbuntuMono-R.woff') format('woff');
}

html,body{
    font-family: ubuntuMono,"monospace";
    background-color: #0d1117;
    margin: 0px;
    padding: 0px;
    color : white;
}

main{
    font-family: ubuntuMono,"monospace";
    text-align: center;
}

h1{
    font-family: fontMrRobot;
    color : red;
    font-weight:normal;
    font-size: 500%;
    margin: 0.3em 0px 0px 0px;
}

footer{
    margin-top: 1em;
}

table{
    border : 1px solid white;
    border-spacing: 0px;
}

table tr td{
    border : 1px solid white;
}

tr:hover td {
  background: #161b22;
}

td,th{
    padding : 0.4em;
}

a.wu_link{
    text-decoration: none;
    color: white;
}

#avatar{
    border-radius: 15em;
    width : 15em;
}

#navigation{
    margin : 1em 0px;
}

#tab_write_ups{
    width: 60%;
    margin-top: 1em;
}

#tab_blog_posts{
    width: 60%;
    margin-top: 1em;
}

.navigation_tab{
    font-family: fontMrRobot;
    text-decoration: none;
    color: white;
    font-size: 180%;
    margin: 0px 0.5em;
}

.center_table{
    margin-left: auto;
    margin-right: auto;
}

.picture_link{
    text-decoration: none;
    color: white;
}
.picture_link img{
    width : 5em;
}

.talk_additional_details{
    font-size: 120%;
}

.remove_bullets{
     list-style-type: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    h1{
        font-size: 350%;
    }

    h2{
        font-size: 1.4em;
    }

    .picture_link img {
        width: 5em;
    }

    .youtube{
        width: auto;
        height: auto;
    }
}
