@font-face {
  font-family: fontMrRobot;
  src: url('../fonts/MR_ROBOT.ttf') format('truetype'),
        url('../fonts/MR_ROBOT.woff') format('woff');
}

html,body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color : white;
}

main{
    font-family: "monospace";
    text-align: center;
}

h1{
    font-family: fontMrRobot;
    color : red;
    font-weight:normal;
    font-size: 8em;
    margin: 0.3em 0px 0px 0px;
}

footer{
    margin-top: 1em;
}

table{
    border : 1px solid white;
    border-spacing: 0px;
}

table tr td{
    border : 1px solid white;

}

tr:hover td {
  background: #101011;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

td,th{
    padding : 0.4em;
}

#avatar{
    border-radius: 15em;
    width : 15em;
}

#navigation{
    margin : 1em 0px;
}

#sinhack_link{
    color : white;
}

.navigation_tab{
    font-family: fontMrRobot;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.picture_link{
    text-decoration: none;
    color: white;
}
.picture_link img{
    width : 6em;
}
