@font-face {
  font-family: fontMrRobot;
  src: url('../fonts/MR_ROBOT.ttf') format('truetype'),
        url('../fonts/MR_ROBOT.woff') format('woff');
}

/* Licence is available at https://maltemo.github.io/assets/fonts/UBUNTU_FONT_LICENCE.txt */
@font-face{
	font-family : ubuntuMono;
    src: url('../fonts/ubuntuMono-R.ttf') format('truetype'),
        url('../fonts/ubuntuMono-R.woff') format('woff');
}

html,body{
    font-family: ubuntuMono,"monospace";
    background-color: black;
    margin: 0px;
    padding: 0px;
    color : white;
}

main{
    font-family: ubuntuMono,"monospace";
    text-align: center;
}

h1{
    font-family: fontMrRobot;
    color : red;
    font-weight:normal;
    font-size: 500%;
    margin: 0.3em 0px 0px 0px;
}

footer{
    margin-top: 1em;
}

table{
    border : 1px solid white;
    border-spacing: 0px;
}

table tr td{
    border : 1px solid white;

}

tr:hover td {
  background: #101011;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

td,th{
    padding : 0.4em;
}

a.wu_link{
    text-decoration: none;
    color: white;
}

#avatar{
    border-radius: 15em;
    width : 15em;
}

#navigation{
    margin : 1em 0px;
}

#write_ups{
    text-align: left;
    font-size: 1.4em;
}

.navigation_tab{
    font-family: fontMrRobot;
    text-decoration: none;
    color: white;
    font-size: 180%;
    margin: 0px 0.5em;
}

.picture_link{
    text-decoration: none;
    color: white;
}
.picture_link img{
    width : 6em;
}

.write_up_link{
    color: white;
}

.tag {
    background-color: transparent;
    color : white;
    border : 1px solid #343a40;
    padding : 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    margin: 0px 2px;
}

.tag:hover{
    color: black;
    background-color: white;
}
